<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" data-th-fragment="header">
<head>
<meta charset="UTF-8">
 <!-- Bootstrap CSS -->
    <link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<!-- bootstrap tags CSS -->
    <link href="../../css/bootstrap-tagsinput.css" th:href="@{/css/jquery.tagsinput.min.css}" rel="stylesheet">
    
<title>Thyeleaf in action</title>
</head>
<body>
 <footer class="blog-footer" th:fragment="footer">
	<nav class="navbar fixed-bottom navbar-inverse bg-inverse">
		<p class="text-white text-center" >
			Copyright<a href="#"> @ Gavin.com</a>
		</p>
	</nav>

	 <!-- JavaScript -->
	 <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
	 <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
	 <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
	 <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	 <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
	 <script src="../../js/thinker-md.vendor.min.js" th:src="@{/js/thinker-md.vendor.min.js}"></script>
	 <script src="../../js/jquery.tag-editor.min.js" th:src="@{/js/jquery.tag-editor.min.js}"></script>
	 <script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
	 <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
	 <script src="../../js/cropbox.js" th:src="@{/js/cropbox.js}"></script>
	 <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
	 <script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>
	 <script src="../../js/main.js" th:src="@{/js/main.js}"></script>
 </footer>
</body>
</html>